h1, h2, p, form, body{
    margin: 0;
}
*{
    box-sizing: border-box;

}
.container{
    width: 1100px;
    margin: 0 auto;
}
header{
    background-image:url(IMG1/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    color: #fff;
    position: relative;
    z-index: 1;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header h1{
    font-size:60px ;
    margin-bottom: 20px;
}
header hr{
border: 3px solid #fff;
border-radius: 12px;
margin-bottom: 20px;
}
header p{
    display: inline-block;
    width: 650px;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    text-transform: uppercase;
}
header button{
    outline: none;
    vertical-align: top;
    height: 70px;
    width: 220px;
    border: 3px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
header .cover{
    background-color: rgba(14%, 16%, 26%, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.photo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 450px);
}
.item:nth-child(1){
    background-image: url(IMG2/Screenshot\ 2022-09-25\ 134251.png);
}
.item:nth-child(2){
background-image: url(IMG2/unnamed\ \(1\).jpg);
grid-column: span 2;
}
.item:nth-child(3){
    background-image: url(IMG1/banner.jpg);
    grid-column: span 2;
}
.item:nth-child(4){
    background-image: url(IMG2/unnamed\ \(4\).jpg);
}
.item:nth-child(5){
    background-image: url(IMG2/unnamed\ \(5\).jpg);
}
.item:nth-child(6){
    background-image: url(IMG2/unnamed\ \(7\).jpg);
    grid-column: span 2;
}
.item{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.cover1{
    background-color: rgba(122, 192, 216, 0.7);
}
.cover2{
    background-color: rgba(143, 134, 193, 0.7);
}
.cover3{
    background-color: rgba(229, 146, 137, 0.7);
}
.cover4{
    background-color: rgba(223, 182, 144, 0.7);
}
.cover5{
    background-color: rgba(139, 161, 218, 0.7);
}
.cover6{
    background-color: rgba(121, 174, 154, 0.7);
}
.item-content{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.photo h2{
font-size: 50px;
border-bottom: 5px solid #fff;
padding-bottom: 10px;
width: 120%;
margin-bottom: 10px;
}
.photo p{
    letter-spacing: 5px;
    font-size: 20px;

}